<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869566570148-cu3nj5g6n8v7f95pvi0qsqbj0esrlt67.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869566570148-cu3nj5g6n8v7f95pvi0qsqbj0esrlt67</string>
	<key>API_KEY</key>
	<string>AIzaSyB-tEUxBH2DfbiX91YCaXbdnpZeaVUBkng</string>
	<key>GCM_SENDER_ID</key>
	<string>869566570148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.CS-Organizer</string>
	<key>PROJECT_ID</key>
	<string>celsell-6b1b7</string>
	<key>STORAGE_BUCKET</key>
	<string>celsell-6b1b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869566570148:ios:69e68c4c97a6a98163d031</string>
</dict>
</plist>